.App {
  display: flex;
  justify-content: center;
}
.custom-content {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.custom-content > input,
button {
  margin: 0.2em;
}

.custom-content > p {
  padding: 0;
  margin: 0;
  min-width: 300px;
}
